#banner-valentine {
	float: left;
	height: 96px;
	width: 96px;
	margin: -159px 0 0 -36px;
    position: relative;
	z-index: 900;
	background: transparent url(images/valentine.png) 0 0 no-repeat; /* http://artdesigner.lv/licensing | http://artdesigner.lv/silent-night-10-christmas-icons */
	display: block;
}

.rtl #banner-valentine {
	float: right;
	height: 96px;
	width: 96px;
	margin: -159px -36px 0 0;
	position: relative;
	z-index: 900;
	background: transparent url(images/valentine.png) 0 0 no-repeat;
	display: block;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}


.forumbg, .forabg {
	background: #084A8C url("./images/bglist_valentine.gif") repeat;
}

.hat {
	background: url("./images/hat_valentine.png");
	width: 47px;
	height: 47px;
	position: absolute;
	z-index: 1000;
	margin-left: -16px;
	margin-top: -6px;
}

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
	#banner-valentine { display: none }
}
